<h2>Course Form</h2>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div class="form-group">
    <label for="name">Course name</label>
    <input class="form-control" id="name" name="name" type="text" [(ngModel)]="course.name" required minlength="4" maxlength="20">
    <app-validation-errors label="Name" [field]="myForm.controls?.name"></app-validation-errors>
  </div>
  <div class="form-group">
    <label for="description">Course description</label>
    <textarea class="form-control" id="description" name="description" [(ngModel)]="course.description" required minlength="20" maxlength="2000"></textarea>
    <app-validation-errors label="Description" [field]="myForm.controls?.description"></app-validation-errors>
  </div>
  <div class="form-group">
    <label for="type">Course type</label>
    <select class="form-control" id="type" name="type" [(ngModel)]="course.type" required> 
          <option value="">None</option>
          <option *ngFor="let courseType of courseTypes" [value]="courseType.value">{{courseType.name}}</option>
    </select>
    {{course.type}}
    {{course.type + '' | i18nSelect:CourseType}}
    <app-validation-errors label="Course type" [field]="myForm.controls?.type"></app-validation-errors>
  </div>
  <div class="checkbox">
    <label>
    <input type="checkbox" id="private" name="private" [(ngModel)]="course.private">
    Private Course
    </label>
  </div>
  <button class="btn btn-default" type="submit" [disabled]="!myForm.valid">Submit</button>
  <button (click)="onRevert()" class="btn btn-default" type="button" [disabled]="!myForm.dirty">Revert</button>
</form>